@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --gradient: linear-gradient(135deg, #8BC6EC 0%, #9599E2 50%, #418ce0 100%);
     --dark: #001747;
    --grey: #b1bacb;
    --grey-border: rgba(210, 210, 210, 0.75);
    --grey-light: #eeeeee;
    --grey-dark: $405175;
    --blue: #2d70fd;
    --green: #00d8a7;
    --white: #ffffff;
    background-color: #8BC6EC;
    

    
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background: var(--gradient);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Poppins", serif;

}

.btn{
    color: var(--white);
    font-size: 1.1rem;
    padding: 0.7rem 1.5rem;
    border-radius: 0.3rem;
    background-color: var(--blue);
    border: none;
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
    cursor: pointer;
}

h1, h2 , h3 , h4 , h5 , h6 , p {
    margin : 0;

}

/* To-Do Container */

.todo {
    display: flex;
    flex-direction: column;  
    justify-content: space-around;
    border-radius: 2rem;
    background: var(--white);
    padding: 3rem;
    height: 50%;
    width: 60%;
    box-shadow: 0 1rem 3rem 1rem rgba(0 ,23, 71, 0.15);
    max-width: 50rem;
}

h2{
    text-transform: uppercase;
    height: 3rem;
    color: var(--dark);
    text-align: center;
}

.input {
    position: relative;
    display: flex;
}

.input-field{
    width: 100%;
    border: 0.06rem solid #d2d2d2bf;
    border-radius: 0.5rem;
    padding: 1.25rem;
    font-size: 1rem;
}

input[type="text"]::placeholder{
    color: var(--grey);
}
 
.todo-container{
    display: flex;
    gap: 1rem;
}

ul{
    padding: 0;
    margin: 0;
    overflow-y: scroll;

}

li{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 1.3rem; 
}

#todoList p{
    display: flex;
    gap: 1rem;
    align-items: center;
}

#todoList .disabled{
    color: #8f98a8;
}

.disabled{
    display: flex;
    text-decoration: line-through;
}

input[type="checkbox"]::before{
    content: "\2713";
    display: inline-block;
    width: 2rem;
    height: 2rem;
    font-size: 1.7rem;
    text-align: center;
    border: 0.06rem solid var(--grey-border);
    border-radius: 50%;
    color: transparent;
}

input[type="checkbox"]:checked::before{
    color: var(--white);
    background-color: var(--green);
    border: 0.06rem solid var(--green);
    border-radius: 50%;
}

.counter{
    border: 0.06rem solid var(--grey-light);

}

.counter-container{
    height: 2rem;
    display: flex;
    justify-content: space-between;
    color: var(--grey);
}

.counter-container p {
    align-self: center;
}

.counter-container button{
    border: none;
    background-color: transparent;
    color: var(--grey);
    font-size: 1rem;
    cursor: pointer;
}

.footer {
    display: flex;
     gap: 1.8rem;
     background-color: var(--white);
     padding: 1.2rem;
     border-radius: 0.5rem;
     align-items: center;

}

.made-by , author{
    font-size: 0.9rem;
}

.made-by {
    color: var(--grey-dark);
}

.author{
    color: var(--blue);
    font-weight: bold;
    cursor: pointer;

}

.scroll{
    height: 15rem;
    scrollbar-width: thin;

}

.scroll::-webkit-scrollbar{
    width: 0.6rem;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 0.5rem ;
    background-color: var(--blue);
}
.scroll::-webkit-scrollbar-track {
   display: flex;
    border-radius: 0.5rem ;
    background-color: var(--blue);
}

input[type = "checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}